<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Crear Secreto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" text="Home" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="mt-2" (submit)="create()">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="secret.titulo" name="titulo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="secret.descripcion" name="desc" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor monetario</ion-label>
      <ion-input type="number" [(ngModel)]="secret.valor_monetario" name="val" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lugar</ion-label>
      <ion-input type="text" [(ngModel)]="secret.lugar" name="lugar" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Latitud y longitud</ion-label>
      <ion-input type="number" [(ngModel)]="secret.latylng" name="lat" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" class="mt-4" color="success">Crear Secreto</ion-button>
  </form>
</ion-content>
