<ion-content fullscreen="true" class="mx-5">
  <h4 class="display-4 text-center mt-5" style="font-size: 35px;">Sign In</h4>
  <form class="mx-4 mt-5">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="user.correo" name="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" [(ngModel)]="user.clave" name="clave"></ion-input>
    </ion-item>
    <ion-button class="mt-3" expand="block" fill="outline" color="success" (click)="signIn()">Sign In</ion-button>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center">Aún no tienes una cuenta? <a routerLink="/signup">Registrate</a></p>
  </ion-toolbar>
</ion-footer>
