<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ secre.fecha | date }}</ion-card-subtitle>
    <ion-card-title>{{secre.titulo}}</ion-card-title>
    <ion-label><i class="fas fa-map-pin"></i>  {{secre.latylng}}</ion-label>
  </ion-card-header>

  <ion-card-content>
    <ion-label>{{secre.descripcion}}</ion-label> <br> <br>
    <ion-row>
      <ion-col>
        <ion-label><i class="fas fa-dollar-sign"></i>  {{secre.valor_monetario}}</ion-label>
      </ion-col>
      <ion-col> 
        <ion-label><i class="fas fa-home"></i>  {{secre.lugar}}</ion-label> <br>
      </ion-col>
    </ion-row>
    <ion-button class=" btn-sm w-100" expand="block" color="danger" (click)="Borrar(secre.id)">Eliminar</ion-button> 
  </ion-card-content>
</ion-card>
